.contact{
    background: url(https://i.ibb.co/pXvXMZn/19366-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.form{
    width: 50%;
    margin: auto;
}

@media  only screen and (max-width:688px){
    .form{
    width: 100%;
    margin: auto;
}
}